<Context>
    <!-- standard stuff... -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- new resource! -->
    <Resource
            name="queryhandlerDatasource"
            auth="Container"
            type="javax.sql.DataSource"
            maxActive="100" maxIdle="30" maxWait="10000"
            username="grails" password="supersecure"
            driverClassName="org.postgresql.Driver"
            url="jdbc:postgresql://database:5432/queryhandler"/>
</Context>